* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: black;
}
.navigation h1 a {
  color: rgb(255, 255, 0);
  text-transform: uppercase;
  padding-right: 80px;
  font-weight: lighter;
  font-size: 25px;
}
.navigation h1 a:hover {
  color: orangered;
}
.navigation ul, .navigation li {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.navigation ul a, .navigation li a {
  color: rgb(147, 140, 140);
}
.navigation ul a:hover, .navigation li a:hover {
  color: black;
  background-color: rgb(255, 255, 0);
  padding: 30px 10px;
  transition: 0.7s;
  border: none;
}

main {
  background-color: whitesmoke;
}
main .homepage {
  background-image: url(./image/banner-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .homepage h1 {
  font-size: 70px;
  color: white;
  padding-top: 70px;
}
main .homepage h1 span {
  color: rgb(255, 255, 0);
}
main .homepage p {
  font-size: 40px;
  color: white;
}
main .homepage button {
  padding: 20px 35px;
  background-color: rgba(197, 197, 55, 0.5);
  color: white;
  border: 1px solid rgb(255, 255, 0);
  margin-top: 30px;
}
main .tour {
  height: 100vh;
}
main .tour .homepage2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  padding: 0px 50px;
  height: 400px;
  margin-top: -40px;
}
main .tour .homepage2 .box1 {
  background-color: rgb(237, 225, 225);
  display: block;
}
main .tour .homepage2 .box1 h2 {
  text-align: center;
  color: rgb(28, 26, 26);
  font-weight: bold;
  padding-top: 40px;
}
main .tour .homepage2 .box1 input {
  width: 200px;
  margin: 40px;
}
main .tour .homepage2 .box2 {
  background-color: #2ec66b;
}
main .tour .homepage2 .box2 .content2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}
main .tour .homepage2 .box2 .content2 a {
  color: white;
  font-weight: lighter;
}
main .tour .homepage2 .box3 {
  background-color: #e97262;
}
main .tour .homepage2 .box3 .content2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}
main .tour .homepage2 .box3 .content2 a {
  color: white;
  font-weight: lighter;
}
main .title {
  display: flex;
  justify-content: center;
  gap: 20px;
}
main .title h1 {
  text-align: center;
  font-weight: lighter;
}
main .travel {
  display: grid;
  grid-template-columns: repeat(4, auto);
  height: 100vh;
  justify-content: center;
  gap: 40px;
}
main .travel .travel-1, main .travel .travel-2, main .travel .travel-3, main .travel .travel-4 {
  background-color: rgb(253, 253, 253);
  height: 380px;
}
main .travel .travel-1 .travelcontent h4, main .travel .travel-2 .travelcontent h4, main .travel .travel-3 .travelcontent h4, main .travel .travel-4 .travelcontent h4 {
  padding: 10px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 13px;
}
main .travel .travel-1 .travelcontent p, main .travel .travel-2 .travelcontent p, main .travel .travel-3 .travelcontent p, main .travel .travel-4 .travelcontent p {
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 10px;
  color: rgb(188, 181, 181);
  font-size: 13px;
}
main .travel .travel-1 .travelcontent-1, main .travel .travel-2 .travelcontent-1, main .travel .travel-3 .travelcontent-1, main .travel .travel-4 .travelcontent-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgb(221, 211, 211);
}
main .travel .travel-1 .travelcontent-1 a i, main .travel .travel-2 .travelcontent-1 a i, main .travel .travel-3 .travelcontent-1 a i, main .travel .travel-4 .travelcontent-1 a i {
  border: 1px solid rgb(221, 211, 211);
  border-bottom: none;
  padding: 20px;
  font-size: 1.5rem;
  color: black;
}
main .travel .travel-1 .travelcontent-1 a i:hover, main .travel .travel-2 .travelcontent-1 a i:hover, main .travel .travel-3 .travelcontent-1 a i:hover, main .travel .travel-4 .travelcontent-1 a i:hover {
  color: rgb(255, 255, 0);
  transition: 0.5s ease;
}
main .travel .travel-1 .travelcontent-1 h4, main .travel .travel-2 .travelcontent-1 h4, main .travel .travel-3 .travelcontent-1 h4, main .travel .travel-4 .travelcontent-1 h4 {
  font-weight: lighter;
  font-size: 13px;
  margin-top: 13px;
}/*# sourceMappingURL=style.css.map */